# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
venv/
.env
.env.*

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
media/*

# Local settings
local_settings.py

# IDEs
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

